
/**
 * Custom vars
 */

@import "./_vars";

/**
 * Fontawesome vars
 */
$fa-font-path: '/dist/bundle/fonts/';

/**
 * Lightgallery vars
 */
$lg-path-fonts: '/dist/bundle/fonts/';
$lg-path-images: '/dist/bundle/img/';

$lg-theme-highlight: $color-primary;

/**
 * Backpack (CSS Reset)
 */
@import "~backpack.css/dist/backpack";

/**
 * UIkit
 */
@import "./uikit";

/**
 * Lightgallery
 */
@import "~lightgallery/src/sass/lightgallery";

/**
 * Flickity
 */
@import "~flickity/css/flickity";

/**
 * Fontawesome package
 */
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/solid';

/**
 * Grid styling
 */
@import "@src-sx/theme/default/sass/mixins/media";
@import "@src-sx/theme/default/sass/mixins/grid";
@import "@src-sx/theme/default/sass/mixins/space";
@import "@src-sx/theme/default/sass/mixins/image";

/**
 * Layout styling
 */
@import "layout/_google";
@import "layout/_default";
@import "element/_image";
@import "element/_video";
@import "element/_header";
@import "element/_footer";
@import "element/_nav";
@import "element/_keyvisual";
@import "element/_breadcrumb";
@import "element/_article";
@import "element/_content";
@import "element/_teaser";
@import "element/_directions";
@import "element/_downloads";
@import "element/_cookie";
@import "element/_systembar";
@import "element/_maintenance";
@import "element/_error";
@import "element/_stoerer";
@import "formular/_formular";
@import "formular/_button";
@import "formular/_input";
@import "formular/_textarea";
@import "formular/_checkbox";
@import "formular/_radio";
@import "formular/_chosen";
@import "formular/_datetimepicker";
@import "component/_element";
@import "component/_flickity";
//@import "element/_iconfont";
