.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article p {
    margin-bottom: 0.5em;
}

.article:not(.article--left):not(.article--right) {
    text-align: center;
}

.article.article--left {
    text-align: left;
}

.article.article--right {
    text-align: right;
}

.article table {
    text-align: left;
    border: 1px solid $color-gray-10;
}

.article tr:not(:last-child) {
    border-bottom: 1px solid $color-gray-10;
}

.article th,
.article td {
    padding: 8px 12px;
}

.article th:not(:last-child),
.article td:not(:last-child) {
    border-right: 1px solid $color-gray-10;
}

.article__body {
    padding: 40px 0;
}
