

.formular {
    padding: 30px 0;
    background: $color-white;
}

.formular-donut {
    display: none;
}

.formular.formular--horizontal .formular-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formular.formular--horizontal .formular-item > * {
    flex: 1 1 auto;
}

.formular.formular--horizontal .formular-item__label {
    flex: 0 0 auto;
    width: 100%;
}

@include media('sm') {
    .formular.formular--horizontal .formular-item__label {
        width: 160px;
    }
}

.formular.formular--horizontal .fomular-item__error {
    flex: 0 0 auto;
    width: 100%;
}

.formular-item {
    margin-bottom: 0;
}

.formular-item__label > span:not(:last-child),
.custom-control-label > span:not(:last-child) {
    margin-right: 4px;
}

.formular-item__body {
    display: flex;
    flex-direction: column;
}

.formular-item__required {
    color: $color-danger;
}

.formular-item__tooltip {
    font-size: 13px;
    color: $color-info;
}

.formular-item__infotext {
    margin-top: 5px;
    font-size: 13px;
    color: $color-gray-70;
}

.fomular-item__error > .error-message {
    margin-top: 3px;
    display: block;
    color: $color-danger;
    font-size: 13px;
}

.formular-item__checkbox--single > .checkbox > label,
.formular-item__radio--single > .radio > label {
    min-height: 34px;
}


